<div class="row">
  <div class="col">
    <h1 class="text-center"> Create your own Trump Bingo game! </h1>
  </div>
</div>
<div class="row">
  <%= form_for @card, url: {action: "create"}, html: {class: "form-check"} do |f| %>
    <% Card::KINDS.each do |kind| %>
      <div class="form-check">
        <label class="form-check-label" for=<%= kind %>>
          <input class="form-check-input" type="checkbox" name="card[space_name][]" value=<%= kind %>>
          <%= kind.pluralize %>
        </label>
      </div>
    <% end %>
    <%= submit_tag "Create", class: "btn btn-primary" %>
  <% end %>
</div>
